# Trading 212 API key and secret with the account scope:
# https://helpcentre.trading212.com/hc/en-us/articles/14584770928157
T212_API_KEY=
T212_API_SECRET=

# Override the default T212 base URL
# T212_BASE_URL=https://live.trading212.com

# Set this to the URL of your Actual server
# If you are running Actual in the same compose stack, use http://actual:5006
ACTUAL_SERVER_URL=http://actual:5006
ACTUAL_PASSWORD=
# Settings -> Show advanced settings -> Sync ID
ACTUAL_SYNC_ID=
ACTUAL_ACCOUNT_NAME=Trading 212
# If you use encryption, set the password here
# ACTUAL_ENCRYPTION_PASSWORD=

# DRY_RUN=true
TZ=Europe/London

# Cron schedule to run the sync (below is every day at 6am)
CRON_SCHEDULE=0 6 * * *
